# Exclude the build directory
Sage/build/*

# Exclude Xcode temporary files
*~.nib

# Excude Xcode build files
DerivedData/
build/

# Exclude OS X folder attributes
.DS_Store
*.lock
!podfile.lock
!Manifest.lock
*.swp
profile
  
# Exclude user-specific XCode private settings
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
!xcshareddata
*.pbxuser
*.xcworkspace
!SageOne.xcworkspace
*.xcbkptlist
*.moved-aside

